@media all and (min-width: 280px) {
  body{
    background:#f2f2f2;
  }
  .Login {
    padding: 60px 0;
  }

  .Login form {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 40%;
    margin: auto;
    border:1px solid #f1f1f1;
    border-radius: 10px;

  }
  form{
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .form-group{
    padding-bottom: 20px;
    width: 90%;
    margin: auto
}
.form-control{
width: 90%;
border:1px solid #f1f1f1;
border-radius: 5px;
padding: 10px;
}
.submit-button{
  cursor:pointer;
}
}
